.topic {
	.display {
		&__btns {
			// background-color: $color-white;
			border: 0px solid rgba(12, 187, 134, 0.1);
			// border-radius: 0.5rem;
			// padding: 0.4rem;
			width: auto;
			// gap: 0.2rem;
			// text-transform: capitalize;

			.btn {
				background: transparent;
				width: auto;
				color: rgba(31, 31, 31, 0.5);
			}

			.active {
				color: rgb(31, 31, 31);
			}
		}

		.forum-wrapper {
			background-color: transparent;
			filter: drop-shadow(0px 4px 10px rgba(31, 31, 31, 0));
			border-radius: 0;
		}

		.forum {
			padding: 0;
			border-bottom: 0px solid rgba(31, 31, 31, 0.2);
		}

		.reply {
			background-color: #fff;
			filter: drop-shadow(0px 4px 10px rgba(31, 31, 31, 0.1));
			border-radius: 6px;
			padding: 2.4rem;

			.forum {
				border-bottom: 0px solid rgba(31, 31, 31, 0.2);
			}

			.message-time {
				padding-left: 0;
				color: rgba(31, 31, 31, 0.5);
			}

			.user-name::after {
				display: none;
			}
		}

		.reply-form {
			.form {
				background-color: #fff;
				filter: drop-shadow(0px 4px 10px rgba(31, 31, 31, 0.1));
				border-radius: 6px;
				// padding: 0 2.4rem;
				&__nav {
					border-bottom: 1px solid rgba(31, 31, 31, 0.505);
					padding: 2.4rem;
					gap: 2.6rem;

					&--item {
						background-color: transparent;

						.icon {
							height: 2rem;
							width: 2rem;
						}
					}
				}

				&-textarea {
					width: 100%;
					border: none;
					outline: none;
					padding: 2.4rem;
				}
			}

			.btn-submit {
				background-color: $color-secondary;
				padding: 0.8rem 1.2rem;
				gap: 1rem;
				border-radius: 0.3rem;

				@media only screen and (max-width: $mbl-land) {
					width: 100%;
					justify-content: center;
				}

				span {
					font-size: 1.2rem;
					color: #fff;
				}

				.icon {
					height: 1.3rem;
					width: 1.3rem;
					fill: $color-white;
				}
			}
		}
	}
}
