.nav {
	padding: 0.8rem 0.5rem;
	border-bottom: 1px solid rgba(31, 31, 31, 0.2);
	width: 100%;

	@media only screen and (max-width: $tab-land) {
		justify-content: space-between;
		align-items: center;
	}
	@media only screen and (max-width: $tab-land) {
		margin-bottom: 2rem !important;
	}

	.logo {
		height: 6.4rem;
		width: 6.4rem;

		img {
			@include img-size;
		}
	}

	&-content {
		width: 100%;
	}

	.mbl-bar {
		background-color: transparent;
		.icon {
			height: 4.3rem;
			width: 4.6rem;
		}
	}

	.menu {
		height: 2.4rem;
		width: 2.4rem;
		background-color: transparent;

		.icon {
			@include img-size;
		}
	}

	&__list {
		gap: 2.4rem;
		position: relative;

		&::after {
			content: '';
			display: block;
			height: 60%;
			width: 1px;
			background-color: rgba(31, 31, 31, 0.506);
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
	}

	.btn-subscribe {
		background-color: $color-primary;
		padding: 1.2rem 2.4rem;
		color: $color-white;
	}

	.profile {
		gap: 1rem;
		align-items: center;

		&__photo {
			height: 4.3rem;
			width: 4.3rem;
			border-radius: 50%;
			background-color: transparent;
		}
	}

	.btn-down-arrow {
		height: 1rem;
		width: 2rem;
		background-color: transparent;
		padding: 0;

		.icon {
			height: 100%;
			width: 100%;
		}
	}
}
