.sidebar {
	background-color: $color-secondary;
	color: $color-white;
	padding: 4rem 6rem;
	min-height: 100vh;
	min-width: 32rem;

	&__logo {
		height: 6.4rem;
		width: 6.4rem;

		img {
			@include img-size;
		}
	}

	&__list {
		gap: 1.5rem;
	}

	// &__item {
	// }

	&__link {
		display: flex;
		align-items: center;
		gap: 1.6rem;
		padding: 1.2rem;

		.icon {
			height: 2rem;
			width: 2rem;
			fill: $color-white;
			transition: all 0.3s;
		}

		span {
			color: $color-white;
			transition: all 0.3s;
		}

		&:hover {
			.icon {
				fill: $color-primary;
			}

			span {
				color: $color-primary;
			}
		}
	}

	.active {
		.icon {
			fill: $color-primary;
		}

		span {
			color: $color-primary;
		}
	}
}

// mbl sidebar
.mbl-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	background: $color-secondary;
	color: #fff;
	height: 100vh;
	width: 50%;
	z-index: 2;
	transform: translateX(-100%);
	transition: all 0.5s ease;

	@media only screen and (max-width: $mbl-land) {
		width: 100%;
	}

	&-content {
		margin-top: 10rem;
	}

	&__list {
		gap: 3rem;
	}

	&__link {
		color: #fff !important;
		font-size: 2.8rem !important;
		transition: all 0.5s;

		&:hover {
			color: $color-primary !important;
		}
	}

	.btn-subscribe {
		color: #fff;
		background-color: $color-primary;
		padding: 1.2rem 2.4rem;
		margin-top: 5rem;
	}

	.close-mbl-sidebar {
		position: absolute;
		top: 3rem;
		right: 3rem;
		background-color: transparent;
		.icon {
			height: 4.3rem;
			width: 4.6rem;
			fill: $color-white;
		}
	}
}

.show-mbl-sidebar {
	transform: translateX(0);
}

// drop down sidebar
.dropdown {
	min-height: auto;
	height: 7rem;
	width: 100%;
	padding: 0;
	background-color: transparent;
	transition: all 0.5s ease;
	scrollbar-width: none;

	&__container {
		padding: 1.2rem 2rem;
		border-radius: 1rem;
		background-color: $color-secondary;
		z-index: 1;
		position: relative;
		height: 100%;
		overflow: hidden;
		width: 100%;
	}

	&__btn {
		position: relative;
		width: 100%;

		.down-arrow {
			position: absolute;
			top: 50%;
			right: 0.5rem;
			transform: translateY(-50%) rotate(-96deg);
			transition: all 0.5s ease;

			.icon {
				width: 1.9rem;
				height: 1rem;
				fill: $color-primary;
			}
		}
	}

	span {
		color: #fff;
	}
}

.show-dropdown {
	height: 28.5rem;
	overflow-y: scroll;

	.down-arrow {
		transform: translateY(-50%) rotate(0);
	}
}
